.burger__container {
	width: 100%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.burger__container .container {
	position: relative;
}
.burger__slider-list {
	position: relative;
	overflow: hidden;
	min-height: 514px;
	width: 940px;
}
.burger__slider-item {
	width: 100%;
	min-height: 507px;
	padding-bottom: 85px;
	@extend %clearfix;
}

.burger__slider-btn {
	border: none;
	background: transparent;
	cursor: pointer;
}
.burger__slider-btn_right,
.burger__slider-btn_left {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
}
.burger__slider-btn_left {
	left: -30px;
}
.burger__slider-btn_right {
	right: -30px;
}
.burger__slider-btn_left svg {
	-webkit-transform: rotate(-90deg);
	transform: rotate(90deg);
}
.burger__slider-btn_right svg {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.ingredients {
	display: block;
	position: absolute;
	top: 20px;
	left: 0;
	background: rgba(227, 80, 40, 0.4);
	width: 90px;
	height: 90px;
	border-radius: 5px;
	-webkit-transition: .3s;
	transition: .3s;
	z-index: 10;
}
.ingredients:hover {
	background: #e35028;
}
.ingredients__icon {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.ingredients__icon-text {
	color: white;
	font-size: 14px;
	font-family: 'Gagalin-Regular';
}
.ingredients:hover .ingredients__dropdown {
	left: 100%;
	opacity: 1;
}
.ingredients__dropdown {
	padding: 20px;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	width: 270px;
	border-radius: 7px;
	left: -9999px;
	opacity: 0;
	transition: opacity .3s;
	z-index: 100;
}
.ingredients__table {
	width: 100%;
}
.ingredients__table-cell {
	vertical-align: middle;
	padding: 8px 0;
	font: 16px "Ubuntu-Medium";
	color: #2f3234;
}
.burger-weight {
	position: absolute;
	bottom: 0px;
	left: 0;
	opacity: .5;
}
.burger-weight__measure {
	background: url(/image/icons/kkal.svg) 50% no-repeat;
	width: 65px;
	height: 60px;
	position: relative;
}
.burger-weight__amount {
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: 'Gagalin-Regular';
}
.burger-weight__title {
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-family: 'Gagalin-Regular';
}
.burger__slider-left {
	width: 50%;
	float: left;
	padding-top: 95px;
}
.burger__slider-img {
	display: block;
	max-width: 470px;
	height: auto;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.burger__slider-right {
	width: 50%;
	float: right;
}
.burger__slider-text {
	margin-bottom: 20px;
	margin-top: 60px;
}
.burger__slider-text p {
	font-size: 14px;
	font-family: "Ubuntu-Light";
	line-height: 1.8;
	color: white;
}
.burgers-slider__price {
	display: inline-block;
	vertical-align: middle;
	color: #e35028;
	font-family: 'Gagalin-Regular';
}
.burger__slider-price_sum,
.burger__slider-price_measure {
	display: inline-block;
	vertical-align: bottom;
	line-height: 1;
}
.burger__slider-price_sum {
	font-size: 72px;
}
.burger__slider-price_measure {
	font-size: 30px;
}
.burger__slider-buy {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 32px;
}
